* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: #000000;
}


.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: #000000;
}

#custom-power_profile,
#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#wireplumber,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#clock {
  padding: 0 5px;
}
#wireplumber {
  padding-top: 3px;
}

#temperature.critical,
#wireplumber.muted {
  color: #FF0000;
  padding-top: 0;
}


#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 0 6px;
  padding-right: 10px;
}


#clock, #battery, #workspaces .visible{
  color: #5fd1fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Define the subtle pulse effect */
@keyframes power_pulse {
    0% {
        color: #ff5555;
        opacity: 1.0;
    }
    50% {
        color: #ff2222;
        opacity: 0.5; /* Dims slightly at the bottom of the pulse */
    }
    100% {
        color: #ff5555;
        opacity: 1.0;
    }
}


/* Base styles for the profile module */
#custom-power_profile {
    background-color: transparent;
    margin-right: 10px;
}

/* Red for Performance */
#custom-power_profile.performance {
    color: #ff5555;
    animation-name: power_pulse;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* Blue for Balanced */
#custom-power_profile.balanced {
    color: #8be9fd;
    font-size: 14px;
}

/* Green for Power Saver */
#custom-power_profile.power-saver {
    color: #50fa7b;
    font-size: 12px;
}

#custom-qld_price {
    color: #5fd1fa;
    margin-left: 10px;
}

#custom-qld_price.warning {
    background-color: #ffbe61;
    color: black;
}

#custom-qld_price.critical {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-qld_price.negative {
    color: #50fa7b;
}

#custom-qld_price.stale,
#custom-qld_price.error {
    color: #888888;
}

