{
	local_certs
	auto_https disable_redirects
}

caq12674798.netbird.cloud:8443 {
	reverse_proxy localhost:5173
}

caq12674798.netbird.cloud:8444 {
	reverse_proxy localhost:5174
}

caq12674798.netbird.cloud:8445 {
	reverse_proxy localhost:5175
}

caq12674798.netbird.cloud:8446 {
	reverse_proxy localhost:5176
}
