[Unit]
Description=Caddy Reverse Proxy
After=forgejo.service

[Container]
Image=docker.io/library/caddy:alpine
ContainerName=caddy
Network=forgejo
Volume=%h/.config/forgejo/certs:/etc/caddy/certs:Z
Volume=%h/.config/forgejo/Caddyfile:/etc/caddy/Caddyfile:Z
PublishPort=8443:443
PublishPort=8080:80

[Install]
WantedBy=default.target

