[Unit]
Description=Forgejo Git Service

[Container]
Image=codeberg.org/forgejo/forgejo:14
Volume=forgejo_data:/data
PublishPort=3000:3000
PublishPort=2222:22
Environment=FORGEJO__database__DB_TYPE=sqlite3
Environment=FORGEJO__packages__ENABLED=true
Environment=FORGEJO__server__DOMAIN=localhost
Environment=FORGEJO__server__ROOT_URL=http://localhost:3000/

[Service]
Restart=always

[Install]
WantedBy=default.target
