[Unit]
Description=Microsoft SQL Server

[Container]
Image=mcr.microsoft.com/mssql/server:2022-latest
ContainerName=mssql-server

Environment=ACCEPT_EULA=Y
Environment=MSSQL_SA_PASSWORD=pa55word1A!

PublishPort=1433:1433

Volume=mssql-data:/var/opt/mssql:U

[Service]
Restart=always

[Install]
WantedBy=default.target

